# Feature
snippet feature
	Feature: ${1:feature}
		In order ${2:inorder}
		As a ${3:asa}
		I want ${4:iwant}
	
			Scenario: ${5:scenario}
			Given ${6:given}
			When ${7:when}
			Then ${8:then}

# Scenario
snippet scenario
	Scenario: ${1:scenario}
#Given
snippet given
	Given ${1:given}
#And
snippet and
	And ${1:and}
#When
snippet when
	When ${1:when}
#Then
snippet then
	Then ${1:then}
